<%- include('./partials/head.ejs') %>
	<link rel="stylesheet" href="/css/login.css" />
</head>

<body>
<div class="container" id="container">
	<div class="row">
		
		<div class="col align-center flex-col sign-up">
			<div class="form-wrapper align-center">
				<form class="form sign-up" action="/auth/forgot-password" method="POST">
					<div class="input-group">
						<i class="bx bxs-user"></i>
						<input type="email" name='email' placeholder="Email" autocomplete="off" required>
					</div>
					<button type="submit">Send Mail</button>
				</form>
			</div>
		</div>
		
		<div class="col align-center flex-col sign-in">
			<div class="form-wrapper align-center">
				<%if(page==="password"){%>
					<form class="form sign-in" action="/auth/reset-password?accessToken=<%=accessToken%>" method="POST">
						<div class="input-group">
							<i class="bx bx-mail-send"></i>
							<input type="text" name="newPassword" placeholder="Enter New Password"/>
							<input type="text" name="confirmPassword" placeholder="Enter Password Again"/>
						</div>
						<button type="submit">Submit</button>
					</form>
				<%}%>
			</div>
		</div>
	</div>
	<div class="row content-row">
		
		<div class="col align-items flex-col">
			<div class="text sign-in">
				<h2>Reset Your Password</h2>
				<p>
					Now enter the your new password,it is adviseable it shouldn't match 
					your old password.
				</p>
			</div>
			<div class="img sign-in">
				<img src="/images/password-food.png" alt="" />
			</div>
		</div>
		
		<div class="col align-items flex-col">
				<div class="img sign-up">
					<img src="/images/email-food.png" alt="" />
				</div>
				<div class="text sign-up">
					<h2>Verify Your Email</h2>
					<p>
						A link will be sent to your mail which you used while creating account on our site,
						make sure the email is correct
					</p>
				</div>
		</div>
	</div>
</div>
	<% if(error && error.length>0 ){ %>
		<span class="flash-msg hide-msg error"> <%= error %> </span>
		<% } %> <% if( success && success.length>0 ){ %>
		<div class="flash-msg hide-msg success"><%= success %></div>
	<% } %>
	
	<script>
		let page="<%=page%>";
		const container = document.getElementById('container');
		const signUp = document.getElementById('sign-up');
		const signIn = document.getElementById('sign-in');
		
		if(page==="email"){
			setTimeout(() => {
				container.classList.add('sign-up');
			}, 200);
		}
		
		if(page==="password"){
			setTimeout(() => {
				container.classList.add('sign-in');
			}, 200);
		}
		

	</script>
	
	<script>
	const fm = document.querySelector('.flash-msg');
	var error = "<%= error %>";
	var success = "<%= success %>";
	console.log(error, success);
	if(error && error.length > 0){
		fm.classList.remove('hide-msg');
		fm.classList.add('show-msg');
		setTimeout(()=>{
			fm.classList.add('hide-msg');
			fm.classList.remove('show-msg');
		},8000)
	}
	if(success && success.length > 0 ){
		fm.classList.remove('hide-msg');
		fm.classList.add('show-msg');
		setTimeout(()=>{
			fm.classList.add('hide-msg');
			fm.classList.remove('show-msg');
		},8000)
	}
</script>
</body>